<md-input-container flex="100">
    <md-select name="myselect" id="myselect" placeholder="Fases da Vida" ng-model="faseDaVida" ng-required="true"
               ng-change="escolherFaseDaVida()">
        <md-option ng-repeat="faseDaVida in fasesDaVida" ng-value="faseDaVida">{{faseDaVida.faseDaVida}}</md-option>
    </md-select>
    <div ng-messages="myForm.myselect.$error" ng-show="myForm.myselect.$touched">
        <div ng-message="required">Campo obrigatório.</div>
    </div>
</md-input-container>


<md-content>


    <div ng-if="resultadoVacinasPorFaseDaVida.length >0">

        <b><h5> Fase da Vida <br/>{{resultadoVacinasPorFaseDaVida[0].fasesDaVidaVO.nome}}</h5></b>
    </div>

    <md-list>
        <md-list-item
                class="md-3-line"
                ng-repeat="item in resultadoVacinasPorFaseDaVida | orderBy:'item.vacinaVO.nome'">
            <div class="md-list-item-text">
                {{$index + 1}}
                <h4> Vacina:</h4>
                <h4>{{item.vacinaVO.nome}}</h4>
                <h4>Descrição:</h4>

                <p>{{item.vacinaVO.descricao}}</p>

            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>


</md-content>

</div>