<form ng-submit="redefinirSenha()" name="myForm">

    <md-input-container flex="100">
        <label>Email</label>
        <input name="email" id="email" type="email" ng-model="usuario.email" ng-required="true" readonly
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

        <div ng-messages="myForm.email.$error" ng-show="myForm.email.$touched">
            <div ng-message="required">Campaign Name is required.</div>
        </div>
    </md-input-container>

    <md-input-container flex="100">
        <label>Senha</label>

        <input  type="password" class="form-control input-lg" id="txtSenha" name="senha" type="password" required placeholder="Senha" title="Senha" ng-model="usuario.senha"/><br />

        <div ng-messages="myForm.senha.$error" ng-show="myForm.senha.$touched">
            <div ng-message="required">Campo obrigatório</div>
        </div>
    </md-input-container>

    <md-input-container flex="100">
        <label>Confirmar Senha</label>
        <input type="password" class="form-control input-lg" ng-model="repetirSenha" id="repetir_senha" name="repetir_senha" type="password" required  placeholder="Repetir Senha" title="Repetir Senha" oninput="validaSenha(this)"  /><br />

        <div ng-messages="myForm.repetir_senha.$error" ng-show="myForm.repetir_senha.$touched">
            <div ng-message="required">Campo obrigatório.</div>
        </div>
    </md-input-container>
    <md-button class="md-primary" ng-disabled="myForm.$invalid">SUBMIT</md-button>
</form>